<div>
  {{#each tags}}
  <a href="#" data-route="/tags/{{name}}" class="hide-child relative dib pv2 ph2 ma2 br2 bg-green pointer white">{{name}} <small class="child ml1 bg-white green pv1 ph1 br4">{{count}}</small></a>
  {{/each}}
</div>